@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="../../../Assets/GoMobile/images/apple-touch-icon.png" />
    <link rel="apple-touch-startup-image" href="../../../Assets/GoMobile/images/apple-touch-startup-image-320x460.png" />
    <meta name="author" content="FamousThemes" />
    <meta name="description" content="Robi App" />
    <meta name="keywords" content="app" />
    <title>Update Retailer Information</title>

    <link href="~/Areas/Dsr/Assets/css/mystyle.css" rel="stylesheet" />
    <link href="~/Assets/SimpleModal/simplemodal.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../../../Assets/GoMobile/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../../Assets/GoMobile/colors/green/green.css" />
    <link type="text/css" rel="stylesheet" href="../../../Assets/GoMobile/css/idangerous.swiper.css" />
    <link href="~/Assets/GoMobile/css/idangerous.swiper.scrollbar.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../../../Assets/GoMobile/css/swipebox.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="../../../Assets/GoMobile/js/jquery-1.10.1.min.js"></script>
    <script src="../../../Assets/GoMobile/js/jquery.validate.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div class="gohome radius6"><a href="~/dsr/Home/Index?sid=@ViewBag.SessionId&sd=@ViewBag.SessionDigest"><img src="../../../Assets/GoMobile/images/icons/home.png" alt="" title="" /></a></div>
        <div class="gomenu radius6"><a href="~/dsr/CallCenterHelp?sid=@ViewBag.SessionId&sd=@ViewBag.SessionDigest"><img src="../../../Assets/GoMobile/images/icons/phone.png" alt="" title="" /></a></div>
        <div class="gomenu radius6"><a href="~/dsr/SearchRetailer?sid=@ViewBag.SessionId&sd=@ViewBag.SessionDigest"><img src="../../../Assets/GoMobile/images/icons/docs.png" alt="" title="" /></a></div>

    </div>

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <!--Part 1: Retailer name, address, POS Category-->
            <div class="swiper-slide sliderbg">
                <div class="swiper-container swiper-nested">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="pages_container">
                                    <h2 class="page_title">Part: 1</h2>
                                    <blockquote>Retailer name, address and POS category -</blockquote>

                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>Retailer Name:</label>
                                                <input type="text"  id="RetailerName" value="@ViewBag.Retailer.Rows[0]["RetailerName"].ToString()"  />
                                            </form>
                                        </div>
                                    </div>

                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform" >
                                            <label>Retailer Address:</label>
                                            <textarea  id="RetailerAddress">@ViewBag.Retailer.Rows[0]["Address"].ToString()</textarea>
                                                </form>
                                            </div>
                                        </div>

                                    <!--PosCategoryId-->
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>POS Category :</label>
                                                <select id="PosCategoryId" disabled>
                                                    <option value="-1">select category</option>
                                                    @foreach (var category in ViewBag.PosCategoryList)
                                                    {
                                                        <option value="@category.PosCategoryId" @IsItemSelected("PosCategoryId", category.PosCategoryId.ToString())>@category.PosCategoryName</option>
                                                    }
                                                </select>
                                            </form>
                                        </div>
                                    </div>

                                        <div class="clearfix"></div>
                                        <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                    </div>
                                    <!--End of page container-->
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>

            <!-- page 2: EasyLoad POS, SIM POS, SC Code -->
            <div class="swiper-slide sliderbg purple">
                    <div class="swiper-container swiper-nested">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="pages_container">
                                        <h2 class="page_title">Part: 2</h2>
                                        <blockquote>EasyLoad MSISDN, SIM POS Code & Scratch Card POS information.</blockquote>

                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    @if (Convert.ToBoolean(ViewBag.Retailer.Rows[0]["IsElPos"]))
                                                    {
                                                        <label class="checkboxLabel"><input type="checkbox" id="IsElPos" checked disabled /> EasyLoad POS </label>

                                                        foreach (System.Data.DataRow row in ViewBag.ElMsisdns.Rows)
                                                        {
                                                            <div class="ElMsisdnDiv"><input type="text" value="@row[0].ToString()" placeholder="enter EasyLoad MSISDN" class="ElMsisdnInput Old" disabled><button class="RemoveElMsisdn Old" >X</button></div>
                                                        }
                                                        <button id="AddElMsisdn">Add EasyLoad MSISDN</button>
                                                    }
                                                    else
                                                    {
                                                        <label class="checkboxLabel"><input type="checkbox" id="IsElPos" /> EasyLoad POS </label>
                                                        <button id="AddElMsisdn" style="display:none">Add EasyLoad MSISDN</button>
                                                    }
                                                </form>
                                            </div>
                                        </div>

                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    @if (Convert.ToBoolean(ViewBag.Retailer.Rows[0]["IsSimPos"]))
                                                    {
                                                        <label class="checkboxLabel"><input type="checkbox" id="IsSimPos" checked disabled /> SIM POS</label>

                                                        foreach (System.Data.DataRow row in ViewBag.SimPosCodes.Rows)
                                                        {
                                                            <div class="SimPosCodeDiv"><input type="text" value="@row[0].ToString()" placeholder="enter SIM POS code" class="SimPosCodeInput Old" disabled><button class="RemoveSimPosCode Old">X</button></div>
                                                        }
                                                        <p><button id="AddSimPosCode">Add SIM POS Code</button></p>
                                                    }
                                                    else
                                                    {
                                                        <label class="checkboxLabel">  <input type="checkbox" id="IsSimPos" /> SIM POS</label>
                                                        <button id="AddSimPosCode" style="display:none;">Add SIM POS Code</button>
                                                    }
                                                </form>
                                            </div>
                                        </div>

                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    @if (Convert.ToBoolean(ViewBag.Retailer.Rows[0]["IsScPos"]))
                                                    {
                                                        <label class="checkboxLabel"><input type="checkbox" id="IsScPos" checked> Scratch Card POS</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="checkboxLabel">  <input type="checkbox" id="IsScPos" /> Scratch Card POS</label>
                                                    }

                                                </form>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                    </div>
                                    <!--End of page container-->
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>

            <!-- page 3: Region to Village -->
            <div class="swiper-slide sliderbg bluegreen">
                    <div class="swiper-container swiper-nested">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="pages_container">
                                        <h2 class="page_title">Part: 3</h2>
                                        <blockquote>Regional information -</blockquote>

                                        <!--region-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Region :</label>
                                                    <select id="RegionId" disabled>
                                                        <option value="-1">select region</option>
                                                        @foreach (var region in ViewBag.RegionList)
                                                        {
                                                            <option value="@region.RegionId" @IsItemSelected("RegionId", region.RegionId.ToString())>@region.RegionName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <!--area-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Area :</label>
                                                    <select id="AreaId" disabled>
                                                        <option value="-1">select area</option>
                                                        @foreach (var area in ViewBag.AreaList)
                                                        {
                                                            <option value="@area.AreaId" @IsItemSelected("AreaId", area.AreaId.ToString())>@area.AreaName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <!--thana-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Upazila/Thana :</label>
                                                    <select id="ThanaId">
                                                        <option value="-1">select thana</option>
                                                        @foreach (var item in ViewBag.ThanaList)
                                                        {
                                                            <option value="@item.ThanaId" @IsItemSelected("ThanaId", item.ThanaId.ToString())>@item.ThanaName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <!--ward/union-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Union/Ward :</label>
                                                    <select id="WardId">
                                                        <option value="0">select ward</option>
                                                        @foreach (var item in ViewBag.WardList)
                                                        {
                                                            <option value="@item.WardId" @IsItemSelected("WardId", item.WardId.ToString())>@item.WardName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <!--mauza/mahalla-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Mauza/Mohalla :</label>
                                                    <select name="MauzaId" id="MauzaId">
                                                        <option value="0">select mauza</option>
                                                        @foreach (var item in ViewBag.MauzaList)
                                                        {
                                                            <option value="@item.MauzaId" @IsItemSelected("MauzaId", item.MauzaId.ToString())>@item.MauzaName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <!--village-->
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <label>Village :</label>
                                                    <select id="VillageId">
                                                        <option value="0">select village</option>
                                                        @foreach (var item in ViewBag.VillageList)
                                                        {
                                                            <option value="@item.VillageId" @IsItemSelected("VillageId", item.VillageId.ToString())>@item.VillageName</option>
                                                        }
                                                    </select>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                    </div>
                                    <!--End of page container-->
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>

            <!-- page 4: POS Structure, Visit Day, Shop signage, Shop type -->
            <div class="swiper-slide sliderbg">
                <div class="swiper-container swiper-nested">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="pages_container">
                                    <h2 class="page_title">Part: 4</h2>
                                    <blockquote>POS structure, visit day, shop signage & shop type -</blockquote>

                                    <!--PosStructureId (Pucca, etc)-->
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>POS Structure :</label>
                                                <select id="PosStructureId">
                                                    <option value="-1">select structure</option>
                                                    @foreach (var structure in ViewBag.PosStructureList)
                                                    {
                                                        <option value="@structure.PosStructureId" @IsCurrentStructure(structure.PosStructureId.ToString())>
                                                            @structure.PosStructureName
                                                        </option>
                                                    }

                                                </select>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- visit day -->
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>Visit days :</label>
                                                <select id="VisitDayId" >
                                                    <option value="-1">select days</option>
                                                    @foreach (var visitday in ViewBag.VisitDayList)
                                                    {
                                                        <option value="@visitday.VisitDayId" @IsItemSelected("VisitDayId", visitday.VisitDayId.ToString())>@visitday.VisitDayName</option>
                                                    }

                                                </select>
                                            </form>
                                        </div>
                                    </div>

                                    <!--ShopSignageId-->
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>Shop Signage :</label>
                                                <select id="ShopSignageId" disabled>
                                                    <option value="-1">select company</option>
                                                    @foreach (var sign in ViewBag.ShopSignageList)
                                                    {
                                                        <option value="@sign.ShopSignageId" @IsItemSelected("ShopSignageId", sign.ShopSignageId.ToString())>@sign.ShopSignageName</option>
                                                    }
                                                    <option value="0" @IsItemSelected("ShopSignageId", "0")>None</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>

                                    <!--shop type (telecom, etc.)-->
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <label>Shop Type :</label>
                                                <select id="ShopTypeId" disabled>
                                                    <option value="-1">select shop type</option>
                                                    @foreach (var shop in ViewBag.ShopTypeList)
                                                    {
                                                        <option value="@shop.ShopTypeId" @IsItemSelected("ShopTypeId", shop.ShopTypeId.ToString())>@shop.ShopTypeName</option>
                                                    }
                                                </select>
                                            </form>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                    <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                </div>
                                <!--End of page container-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <!-- page 5: Locality-->
            <div class="swiper-slide sliderbg">
                <div class="swiper-container swiper-nested">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="pages_container">
                                    <h2 class="page_title">Part: 5</h2>
                                    <blockquote>Locality type -</blockquote>

                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsApartments" @IsItemChecked("IsApartments") disabled> Apartments
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsSlums" @IsItemChecked("IsSlums") disabled> Slums
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsSemiUrbunHousing" @IsItemChecked("IsSemiUrbunHousing") disabled> Semi-urban housing
                                                </label>


                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsRuralHousing" @IsItemChecked("IsRuralHousing") disabled> Rural housing
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsShoppingMall" @IsItemChecked("IsShoppingMall") disabled> Shopping mall
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsRetailHub" @IsItemChecked("IsRetailHub") disabled> Retail hub
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsMobileDeviceMarket" @IsItemChecked("IsMobileDeviceMarket") disabled> Mobile device market
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsBazaar" @IsItemChecked("IsBazaar") disabled> Bazaar
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsOfficeArea" @IsItemChecked("IsOfficeArea") disabled> Office area
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsGarmentsMajorityArea" @IsItemChecked("IsGarmentsMajorityArea") disabled> Garments-majority area
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsGeneralIndustrialArea" @IsItemChecked("IsGeneralIndustrialArea") disabled> General industrial area
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsUrbanTransitPoints" @IsItemChecked("IsUrbanTransitPoints") disabled> Urban transit points
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsRuralTransitPoints" @IsItemChecked("IsRuralTransitPoints") disabled> Rural transit points
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsUrbanYouthHangouts" @IsItemChecked("IsUrbanYouthHangouts") disabled> Urban youth hangouts
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsSemiUrbanYouthHangouts" @IsItemChecked("IsSemiUrbanYouthHangouts") disabled> Semi-urban youth hangouts
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsRuralYouthHangouts" @IsItemChecked("IsRuralYouthHangouts") disabled> Rural youth hangouts
                                                </label>

                                                <label class="checkboxLabel">
                                                    <input type="checkbox" id="IsTouristDestinations" @IsItemChecked("IsTouristDestinations") disabled> Tourist/Leisure destinations
                                                </label>

                                            </form>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                </div>
                                <!--End of page container-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <!-- page 6: Retailer photo-->
            <div class="swiper-slide sliderbg">
                    <div class="swiper-container swiper-nested">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="pages_container">
                                        <h2 class="page_title">Part: 6</h2>
                                        <blockquote>Retailer photo -</blockquote>
                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                   <input type='file' class="custom-file-input" id="RetailerPhotoInput" accept="image/jpeg,image/png,jpg|png;capture=camera" />
                                                    <br /><br />
                                                    <img id="RetailerPhotoPreview" src="~/Photos/RetailerPhoto/@ViewBag.Retailer.Rows[0]["DefaultPhotoName"].ToString()" alt="Retailer photo" style="width:100%;" />
                                                </form>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                    </div>
                                    <!--End of page container-->
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>

            <!-- page 7: QR -->
            <div class="swiper-slide sliderbg">
                <div class="swiper-container swiper-nested">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="pages_container">
                                    <h2 class="page_title">Part: 7</h2>
                                    <blockquote>QR code - @ViewBag.Retailer.Rows[0]["QrCodeId"].ToString()   
                                    @if (ViewBag.IsReevaluated==false)
                                    {
                                        <input type="text" id="NewQrId" placeholder="new QR code" style="display:none;" />
                                        <input type="hidden" id="IsReEvaluating" value="false"/>
                                    }
                                    else
                                    {
                                        <input type="text" id="NewQrId" placeholder="new QR code" />
                                        <input type="hidden" id="IsReEvaluating" value="true" />
                                    }                                    
                                    </blockquote>
                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform" id="qr-form" enctype="multipart/form-data" method="post">
                                                   <img id="QrPhotoPreview" src="~/Photos/QRPhoto/@String.Format("{0}.{1}", ViewBag.Retailer.Rows[0]["QrCodeId"].ToString(),"png")" alt="QR Code" style="width:100%;" />
                                                <input type="hidden" id="OldQrId" value="@ViewBag.Retailer.Rows[0]["QrCodeId"].ToString()" />
                                            </form>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                </div>
                                <!--End of page container-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <!-- page 8: Google map -->
            <div class="swiper-slide sliderbg">
                <div class="swiper-container swiper-nested">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="pages_container">
                                    <h2 class="page_title">Part: 8</h2>
                                    <blockquote>Location on map -</blockquote>

                                    <div class="service_box">
                                        <div class="form">
                                            <form class="cmxform">
                                                <div id="map_canvas" style="width: 100%; height:250px;"></div>
                                                <input type="hidden" id="Latitude" value="@ViewBag.Retailer.Rows[0]["Latitude"]" />
                                                <input type="hidden" id="Longitude" value="@ViewBag.Retailer.Rows[0]["Longitude"]" />
                                                <input type="hidden" id="Accuracy" value="" />
                                            </form>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                </div>
                                <!--End of page container-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

            <!-- page 9: Submit -->
            <div class="swiper-slide sliderbg">
                    <div class="swiper-container swiper-nested">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="pages_container">
                                        <h2 class="page_title">Part: 9</h2>
                                        <blockquote>Submit data</blockquote>

                                        <div class="service_box">
                                            <div class="form">
                                                <form class="cmxform">
                                                    <input type="hidden" id="SessionId" value="@ViewBag.SessionDigest" />
                                                    <input type="hidden" id="RetailerId" value="@ViewBag.Retailer.Rows[0]["RetailerId"].ToString()" />
                                                    <button id="SubmitRetailer" @IsDisabled("IsActive")>@GetSubmitButtonText("IsActive")</button>
                                                    <p id="ErrorDetails"></p>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="scrolltop radius20"><a href="#"><img src="../../../Assets/GoMobile/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                    </div>
                                    <!--End of page container-->
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>

       </div>

        <div class="pagination">
            <button class="left" id="GoToFirst">First</button>
            <button class="left" id="GoToPrevious">Prev.</button>

            <button class="right" id="GoToLast">Last</button>
            <button class="right" id="GoToNext">Next</button>
        </div>

    </div>

    <script type="text/javascript" src="../../../Assets/GoMobile/js/jquery.swipebox.js"></script>
    <script type="text/javascript" src="../../../Assets/GoMobile/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../Assets/GoMobile/js/idangerous.swiper.scrollbar-2.1.js"></script>
    <script type="text/javascript" src="../../../Assets/GoMobile/js/codes.js"></script>
    @*<script type="text/javascript" src="../../../Assets/GoMobile/js/load.js"></script>*@
    <script src="~/Assets/SimpleModal/jquery.simplemodal.1.4.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        
    <script>
            var $IsElPosCheckbox = $('#IsElPos');
            var $IsSimPosCheckBox = $("#IsSimPos");
            var $IsScPosCheckBox = $("#IsScPos");

            var $RetailerPhotoInput = $("#RetailerPhotoInput"), clearBn = $("#clear");

            $(function () {

                //if already has el number, show the 'Add El' button, bcz checkbox event is disabled
                if ($IsElPosCheckbox.is(':checked')) {
                    $IsElPosCheckbox.closest('form').find("#AddElMsisdn").show();
                }

                //if already has sim pos code, show the 'add sim pos code' button, bcz checkbox event is disabled
                if ($IsSimPosCheckBox.is(':checked')) {
                    $IsSimPosCheckBox.closest('form').find('#AddSimPosCode').show();
                }

                $('#AddElMsisdn').on('click', function (e) {
                    e.preventDefault();
                    $('<div/>').addClass('ElMsisdnDiv')
                    .html($('<input type="text" placeholder="enter EasyLoad MSISDN"/>').addClass('ElMsisdnInput New'))
                    .append($('<button/>').addClass('RemoveElMsisdn New').text('X'))
                    .insertBefore(this);

                });
                $(document).on('click', 'button.RemoveElMsisdn.New', function (e) {
                    e.preventDefault();
                    $(this).closest('div.ElMsisdnDiv').remove();
                });

                $(document).on('click', 'button.RemoveElMsisdn.Old', function (e) {
                    e.preventDefault();
                });

                $(document).on('click', '.ElMsisdnInput', function (e) {
                    e.preventDefault();
                    $(this).focus();
                });

                //adding new sim pos code
                $('#AddSimPosCode').on('click', function (e) {
                    e.preventDefault();
                    $('<div/>').addClass('SimPosCodeDiv')
                    .html($('<input type="text" placeholder="enter SIM POS code"/>').addClass('SimPosCodeInput New'))
                    .append($('<button/>').addClass('RemoveSimPosCode New').text('X'))
                    .insertBefore(this);

                });

                //removing newly inserted sim pos code
                $(document).on('click', 'button.RemoveSimPosCode.New', function (e) {
                    e.preventDefault();
                    $(this).closest('div.SimPosCodeDiv').remove();
                });

                $(document).on('click', 'button.RemoveSimPosCode.Old', function (e) {
                    e.preventDefault();
                });

                $(document).on('click', '.SimPosCodeInput', function (e) {
                    e.preventDefault();
                    $(this).focus();
                });


                $("#RetailerPhotoInput").change(function () {
                    PreviewRetailerPhoto(this);
                });


                $(document).on('click', '#NewQrId', function (e) {
                    e.preventDefault();
                    $(this).focus();
                });

                //Data saving starts
                $("#SubmitRetailer").click(function (e) {
                    e.preventDefault();

                    var fd = new FormData();
                    var ErrorFound = false; var ErrorText = "";

                    //Checking EasyLoad Pos checkbox and textboxes (if any)--------------------->
                    if ($IsElPosCheckbox.is(':checked')) {

                        var ElMsisdnInputQuantity = $('.ElMsisdnInput.New').length; //this is New EasyLoad
                        var OldElMsisdnInputQuantity = $('.ElMsisdnInput.Old').length;

                        if (ElMsisdnInputQuantity + OldElMsisdnInputQuantity == 0) {
                            ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">Please add EasyLoad MSISDN.</a>';
                        }
                        else {
                            var ElMsisdnArray = [];
                            var counter = 1;

                            //add only newly added el numbers
                            $('.ElMsisdnInput.New').each(function (i, item) {
                                var elMsisdn = $.trim($(item).val());
                                if (elMsisdn.length == 0) {
                                    ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);"> Please enter EasyLoad MSISDN at position ' + counter + '.</a>'; 
                                }
                                else {
                                    if (isNaN(elMsisdn)) {
                                        ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">EasyLoad MSISDN msut be nemeric at position ' + counter + '.</a>';
                                    }
                                    else {
                                        if (elMsisdn.length == 10) {
                                            var firstTwoCharacters = elMsisdn.substring(0, 2);

                                            if (firstTwoCharacters == '18') {
                                                ElMsisdnArray.push(elMsisdn);
                                            }
                                            else {
                                                ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">You entered an invalid EL MSISDN. It must start with 18 at position ' + counter + '.</a>';
                                            }
                                        }
                                        else {
                                            if (elMsisdn.length == 11) {
                                                var firstThreeCharacters = elMsisdn.substring(0, 3);
                                                if (firstThreeCharacters == '018') {
                                                    ElMsisdnArray.push(elMsisdn);
                                                }
                                                else {
                                                    ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">You entered an invalid EL MSISDN. It must start with 018 at position ' + counter + '.</a>';
                                                }
                                            }
                                            else {
                                                ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">You entered an invalid EL MSISDN. It contains invalid number of digits at position ' + counter + '.</a>';
                                            }
                                        }
                                    }
                                }
                                counter++;
                            });
                            fd.append("IsElMsisdn", true);

                            fd.append("ElMsisdn", ElMsisdnArray);
                        }
                    }
                    else {
                        fd.append("IsElMsisdn", false);
                    }
                    //<------------------------


                    //Checking SIM Pos checkbox and textbox --------------------->
                    if ($IsSimPosCheckBox.is(':checked')) {

                        var SimPosCodeInputQuantity = $('.SimPosCodeInput.New').length;
                        var OldSimPosCodeInputQuantity = $('.SimPosCodeInput.Old').length;

                        if (SimPosCodeInputQuantity + OldSimPosCodeInputQuantity == 0) {
                            ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);">Please add SIM POS code.</a>';
                        }
                        else {
                            var SimPosCodeArray = [];
                            var counter = 1;
                            $('.SimPosCodeInput.New').each(function (i, item) {
                                var simPosCode = $.trim($(item).val());
                                if (simPosCode.length == 0) {
                                    ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(1);"> Please enter SIM POS code at position ' + counter + '.</a>';
                                }
                                else {
                                    SimPosCodeArray.push(simPosCode);
                                }
                                counter++;
                            });
                            fd.append("IsSimPos", true);

                            fd.append("SimPosCode", SimPosCodeArray);
                        }
                    }
                    else {
                        fd.append("IsSimPos", false);
                    }//<--------------------

                    //checking retailer photo
                    var RetailerPhotoSrc = $('#RetailerPhotoPreview').attr('src');

                    if (RetailerPhotoSrc === '#' || RetailerPhotoSrc === '/Photos/RetailerPhoto/default.png') {
                        ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(5);">Please add retailer photo.</a>';
                    }
                    else {
                        var RetailerPhoto = document.getElementById('RetailerPhotoInput').files[0];
                        fd.append("RetailerPhoto", RetailerPhoto);
                        fd.append("RetailerPhotoName", RetailerPhotoSrc);
                    }

                    //--->checking new qr id
                    var is_Reevaluating = $('#IsReEvaluating').val();
                    
                    if (is_Reevaluating=='true') {
                        //if re-evaluating
                        var newQrCode = $.trim($('#NewQrId').val());
                        if (newQrCode.length > 0) {
                            if (isNaN(newQrCode)) {
                                ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(6);">QR code must be numeric.</a>';
                            }
                            else {
                                if (newQrCode.length != 6) {
                                    ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(6);">QR code must be 6 digits.</a>';
                                }
                                else {
                                    fd.append("IsReevaluating", true);
                                    fd.append("NewQrCode", newQrCode);
                                }
                            }
                        }
                        else {
                            ErrorFound = true; ErrorText += '<a href="#" onclick="swiperParent.swipeTo(6);">Enter new QR Code.</a>';
                        }
                    }
                    else {
                        //if not re-evaluating
                        fd.append("IsReevaluating", false);
                    }
                    //<---checking new qr id


                    fd.append("SessionId", $('#SessionId').val());
                    fd.append("RetailerId", $("#RetailerId").val());

                    //raise error(s), if any
                    if (ErrorFound) {
                        $('#ErrorDetails').html(ErrorText); return;
                    }
                    else {
                        $('#ErrorDetails').html('');
                    }

                    var urlData = '../EditRetailer/PartialRetailerUpdate';
                    $.ajax({
                        url: urlData,
                        type: "POST",
                        data: fd,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,   // tell jQuery not to set contentType
                        beforeSend: function () {
                            $('#SubmitRetailer').attr('disabled', 'disabled');
                            $('#SubmitRetailer').html('Working...');
                        },
                        success: function (response) {
                            if (response.IsError == true) {

                                if (response.IsSessionTimeOut == true) {
                                    window.location = response.url;
                                }
                                else {
                                    $.modal('<h3 style="color:red;">' + response.ErrorDetails + '</h3>');
                                }
                            }
                            else {
                                $.modal('<h3 style="color:green;">Retailer information successfully updated.</h3>');
                                ResetForm();
                            }
                        },
                        error: function (request, status, error) {
                            $.modal('<h3 style="color:red;">' + ajaxErrorMessage + '</h3>');
                        },
                        complete: function () {
                            $('#SubmitRetailer').removeAttr("disabled");
                            $('#SubmitRetailer').html('Update');
                        }
                    });
                });
                //Data saving starts


            });

        </script>

    <!--google map-->
    <script>
        $(function () {
           var retailerLat = document.getElementById('Latitude').value;
           var retailerLon = document.getElementById('Longitude').value;
           var retailerLocation = new google.maps.LatLng(retailerLat, retailerLon);
            var opts = {
                zoom: 10,
                center: retailerLocation,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById('map_canvas'), opts);
            var marker = new google.maps.Marker({
                map: map,
                position: retailerLocation
            });
        });
    </script>
    <!--google map-->

    <!-- image preview -->
    <script>
        function PreviewRetailerPhoto(input) {
            if (input.files && input.files[0]) {

                var photoSize = input.files[0].size;
                photoSize = photoSize / 1024;
                if (photoSize > 600) {
                    ClearRetailerPhoto();
                    $.modal('<h3 style="color:red;">Please select smaller photo less than 600KB in size.</h3>');
                }
                else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#RetailerPhotoPreview').attr('src', e.target.result);
                        $('#RetailerPhotoPreview').show();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        function ClearRetailerPhoto() {
            $RetailerPhotoInput.replaceWith($RetailerPhotoInput.val('').clone(true));
            $("#RetailerPhotoPreview").hide();
            $('#RetailerPhotoPreview').attr('src', '#');
        }
    </script>

    <!-- Reset Form -->
    <script>
        function ResetForm() {
            $('#SubmitRetailer').hide();
        }

    </script>
    <!-- Reset Form -->

    </body>

</html>

@functions {
    public string IsCurrentStructure(string page)
    {
        return ViewBag.Retailer.Rows[0]["PosStructureId"].ToString() == page ? "selected" : null;
    }

    public string IsItemSelected(string columnName, String optionValue)
    {
        return ViewBag.Retailer.Rows[0][columnName].ToString() == optionValue ? "selected" : null;
    }

    public string IsItemChecked(string columnName)
    {
        return Convert.ToBoolean(ViewBag.Retailer.Rows[0][columnName]) == true ? "checked" : null;
    }

    public string IsDisabled(string columnName)
    {
        return Convert.ToBoolean(ViewBag.Retailer.Rows[0][columnName]) == false ? "disabled" : null;
    }

    public string GetSubmitButtonText(string columnName)
    {
        return Convert.ToBoolean(ViewBag.Retailer.Rows[0][columnName]) == false ? "This retailer is currently inactive" : "Update";
    }
}   